ALLOWED_ORIGINS=
SIMPLIFY_CLIENT_ID=
SIMPLIFY_CLIENT_SECRET=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
SUPER_ADMIN_PASSWORD_HASH=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
WEBHOOK_SECRET=
WEBHOOK_URL=